<div class="topbar">
  <h1>Doctor Appointment Calendar</h1>
</div>

<div class="container">
  <div class="action-bar">
    <div class="month-dropdown">
      <mat-form-field appearance="fill">
        <mat-label>Select a month</mat-label>
        <mat-select (selectionChange)="handleSelectMonth(currentMonthNumber)" [(value)]="currentMonthNumber">    
          <mat-option *ngFor="let month of months" [value]="month.value">{{ month.label }}</mat-option> 
        </mat-select>
      </mat-form-field>
    </div>
    <div class="month-year">
      {{ currentMonthName }},
      {{ currentYear }}
    </div>
    <div class="add-button">
      <button mat-raised-button="mat-raised-button" color="primary" (click)="openAppointmentDialog()">Create Appointment</button>
    </div>
  </div>
  <div class="page-content-area">
    <router-outlet></router-outlet>
  </div>
</div>